/* 
  This is a Sass partial
  File used to set constants used throughout the website
*/

// Font 
$primary-font: 'Open Sans';

// For media queries 
$mobile-max-width: 899px;
$desktop-min-width: 900px;

// Primary & secondary color of the website
$primary-color: #364860;
$secondary-color: #232D3D;
$tertiary-color: #2C394C;

// Primary & secondary color for the text in the site
$text-primary-color: #FFF;
$text-secondary-color: #BBB;

$container-width: 15.750em;